html {
	height: 100%
}
body {
	height: 100%;
	margin: 0px;
	padding: 0px
}
#container {
	width: 100%;
	height: 100%
}
#map {
	width: 100%;
	height: 100%
}

.nav {
	z-index: 100;
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: #fff;
	border: 1px #000 Solid;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 2px;
	border-color: #ccc;
	box-shadow: 4px 4px 2px #ddd;
}
#nav-open {
	padding-top: 15px;
	padding-bottom: 15px;
}
#nav-collapsed {
	padding-top: 5px;
	padding-bottom: 5px;
}
#resize-open {
	margin-top: 8px;
}

#map img {
	max-width:  none !important;
	background: none !important
}

#nav-header {
	margin-bottom: 10px;
}

#lat, #lng {
	max-width: 100px;
}
#radius {
	width: 204px;
}

.search-btn.blue {
	animation: pulse 1s ease-out 2;
}
@keyframes pulse {
  50% { background-color: skyblue }
}
